@charset "UTF-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
}
	h2{
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-size: 10px;
		margin-left: 50px;
	}
elipse {
	align-content: center;
	
}

	footer {
		
	display: block;
		border-width: 2000px;
		background-color: #000000;
		color:#FFFFFF;
		margin-top: 400px;
		padding-top: 250px;
		
	}

